<div class="card mt-4">
    <h4 class="card-header">product list</h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngIf="products">
          <div class="row">

            <div  class="col-md-2">
              Id
            </div>
            <div  class="col-md-2">
              Name
            </div>
            <div  class="col-md-2">
              Price
            </div>

            <div  class="col-md-2">
              Actions
            </div>

          </div>
                    <div *ngFor="let product of products" class="row">

            <div  class="col-md-2">
              {{product.id}}
            </div>
            <div  class="col-md-2">
              {{product.name}}
            </div>
            <div  class="col-md-2">
              {{product.price}}
            </div>
                      <div  class="col-md-2">
              <button (click)="deleteProduct(product.id)">delete</button>
              <button (click)="editProduct(product.id)">edit</button>
              <button (click)="viewProduct(product.id)">viewProduct</button>
            </div>


          </div>

        </div>
    </div>
</div>
